.top-navbar{
    display: none;
  }
  
  header{
    background-color: rgb(215, 213, 213);
    padding:10px;
  }
  header ul li a{
    text-decoration: none;
    color: black;
  }
  
  .side-navbar ul li {
     list-style-type: none;
  }
  
  .side-navbar-hidden ul li{
    list-style-type: none;
  }
  
  .mobile-nav__link{
    text-decoration: none;
    color: black;
  }
  
  .side-navbar-hidden {
    display: none;
  }

  .mobile-navbar{
    display: flex;
    justify-content: space-between;
  
  }
