
/* Mobile navbar*/
.top-navbar{
    display: none;
  }

/* Style active class*/
  .active{
    color:var(--clr-active);
  }

  /* Style hover*/
   a:hover{
    color: var(--clr-hover);
  }
  /* Style header */
  header{
    padding:10px;
    background-color: var(--clr-secondary-bg);
    color: var(--clr-body-text);
  }

  /* Style links in header */
  header ul li a{
    text-decoration: none;
    color: var(--clr-body-text);
  }

  /* Style list items in side navbar */
  .side-navbar ul li {
     list-style-type: none;
  }
  
  /* Style list items in hidden side navbar */
  .side-navbar-hidden ul li{
    list-style-type: none;
  }
  
  /* Style links in mobile navbar */
  .mobile-nav__link{
    text-decoration: none;
    color: var(--clr-body-text);
  }
  
  /* Hide the side navbar for mobile */
  .side-navbar-hidden {
    display: none;
  }

/* Style mobile navbar for mobile */
  .mobile-navbar{
    display: flex;
    justify-content: space-between;
  }

  .fonts {
    font-size:17px;
    padding-left: 15px;
    
  }




  /* Desktop navbar */

  @media (min-width: 768px) {
  
  /* Hide the mobile navbar for desktop */
    .mobile-navbar {
      display: none; 
    }

    /* Display the top navbar in column for desktop */
    .top-navbar{
      display: flex;
      flex-direction: column;
    }
    
    /* Display the side navbar in column for desktop */
    .side-navbar{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
       }

          /* Hide the list items for mobile*/
       .side-nav__mobile{
        display: none;
      }

        /* Style list items in the top navbar for desktop*/
      .top-list{
       
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
      }
      
      /* Style about me in the top navbar for desktop*/
      .about-me{
        padding-right: 20px;
      }
      
      
    /* Style links in the top navbar for desktop */
      .top-nav__link{
        text-decoration: none;
        color: var(--clr-body-text);
       }

         /* Adjust top navbar layout for desktop*/
       .top-navbar{
         display: flex;
         flex-direction: column;
         
       }
     
       
}
