:root {

  /* Color variables for the theme */
  
  --clr-primary-bg:#f9f8fc;
  --clr-secondary-bg: #fec7d7;
  --clr-tertiary-bg:#d9d4e7;
  --clr-body-text: #0e172c; 
  --clr-primary-accent:#0e172c; 
  --clr-secondary-accent:#724592;
  --clr-accent-text:#fffffe; 
  --clr-hover:#D15D10;
  --clr-active:#bc2b73d8;
 

 /* Typefaces for heading and body text */
 
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Roboto', sans-serif;
 

 /* Typeface font sizes */
 
 --h1-font-size: 2rem; 
 --h2-font-size: 1.5rem;
 --h3-font-size: 1.25rem;
 --body-font-size: 1rem; 
 

 /* Typeface font weight */
 
  --bold-font-weight: 700;
  --normal-font-weight: 500;
  

  /* Typeface line height */
 
  --heading-line-height: 1.2;
  --body-line-height: 1.5rem;
  
 
    /* Typeface letter spacing */
 
  --heading-letter-spacing: 2px;
  --body-letter-spacing: 1px;
   
  /* Typeface colours */
 
  --heading-text-color: var(--clr-primary-bg);
  --body-text-color: var(--clr-primary-text); 
  }


/* Border-box model for fixed size */

* {
    box-sizing: border-box; 
}
  
body,
h1,
h2,
h3, 
h4, 
h5, 
h6,
p,
figure,
picture {
    margin: 0; /* Reset margins for body, all headings, p, figure, picture */
  }
 

  /* Remove padding from lists */  
ul, ol {
  list-style: none;
    padding: 0; 
  }

/* Utility classes for colors */

/* Primary colour swatch */

.u-primary-bg{

background-color: var(--clr-primary-bg);
color: var(--clr-body-text);
}
  /* Primary colour example */

.u-primary-example{
background-color: var(--clr-primary-bg);
color: var(--clr-body-text);
font-size: var(--body-font-size);
 font-family: var(--secondary-font);
  }

/* Secondary colour swatch */

.u-secondary-bg{
  background-color:var(--clr-secondary-bg);
  color: var(--clr-body-text);
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);
}

/* Secondary colour example*/

.u-secondary-example{
  background-color: var(--clr-secondary-bg);
  color: var(--clr-body-text);
  font-size: var(--body-font-size);
 font-family: var(--secondary-font);
}

/* Tertiary colour swatch */

.u-tertiary-bg{
  background-color:var(--clr-tertiary-bg);
  color: var(--clr-body-text);
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);
}

/* Tertiary colour example*/

.u-tertiary-example{
  background-color: var(--clr-tertiary-bg);
  color: var(--clr-body-text);
 font-size: var(--body-font-size);
 font-family: var(--secondary-font);
    }

/* Text colour swatch */

.u-text-body{
  background-color: var(--clr-body-text);
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);
  color: var(--clr-accent-text);
}

/* Body text example*/

.u-body-example{
  color: var(--clr-body-text);
  font-size: var(--body-font-size);
 font-family: var(--secondary-font);
}

/* Primary accent colour swatch */

.u-primary-accent{
  background-color:var(--clr-primary-accent);
  color: var(--clr-accent-text);
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);

}

/* Primary accent colour example */

.u-paccent-example{
  background-color:var(--clr-primary-accent);
  color: var(--clr-accent-text);
  font-size: var(--body-font-size);
  font-family: var(--secondary-font);
}

/* Secondary accent colour swatch */

.u-secondary-accent{
  background-color:var(--clr-secondary-accent);
  color: var(--clr-accent-text);
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);
} 

/*  Secondary accent example*/

.u-saccent-example{
  background-color:var(--clr-secondary-accent);
  color: var(--clr-accent-text);
  font-family: var(--secondary-font);
  font-size: var(--body-font-size);
}

/* Accent text colour swatches */

.u-text-accent{
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size); 
  font-weight: var(--bold-font-weight);
  background-color: var(--clr-accent-text);
}

/* Accent text colour examples */
.u-accent-examples{
  font-family: var(--secondary-font);
  font-size: var(--body-font-size);
}


/* Utility classes for typography */


/* Font family for Headings */
.serif-font{
  font-family: var(--primary-font);

  }
  
  /* Font family for body */

  .sans-font{
  font-family: var(--secondary-font);
 
  }
  
   /* Font size for Main heading*/

  .u-fs-h1{
  font-size: var(--h1-font-size);
 
  }
  
   /* Font size for sub-heading*/

  .u-fs-h2{
    font-size: var(--h2-font-size);

    }
  
     /* Font size for content-heading*/

  .u-fs-h3{
    font-size: var(--h3-font-size);
    
    }
  
     /* Font size for body*/

  .u-fs-body{
      font-size: var(--body-font-size);
  
      }
  
      
  /* Font weight bold*/
  .u-fw-bold{
    font-weight: var(--bold-font-weight);

  }

   /* Font weight normal */
  
  .u-fw-normal{
    font-weight: var(--normal-font-weight);
    
  }
  
  
  /* Font line height for heading */
  
  .u-lh-heading{
    line-height: var(--heading-line-height);
  
  }

   /* Font line height for body*/
  .u-lh-body{
    line-height: var(--body-line-height);
   
  }
  
  
  /* Font letter spacing*/
  .u-ls-heading{
    letter-spacing: var(--heading-letter-spacing);
   
  }
  
  .u-ls-body{
    letter-spacing: var(--body-letter-spacing);
  }

  /*  Margin space layout classes*/

/* margin for all sides */

.l-m-1 { 
  margin: 1rem; 
 }

 .l-m-1-25 {
  margin-top: 1.25rem; /* 20px */
}

.l-m-1-5 {
  margin-top: 1.5rem; /* 24px */
}

.l-m-2 {
  margin-top: 2rem; /* 32px */
}

.l-m-2-25 {
  margin-top: 2.25rem; /* 36px */
}

/* Margin top */

.l-mt-1 { 
  margin: 1rem; /* 16px */
 }

 .l-mt-1-25 {
  margin-top: 1.25rem; /* 20px */
}

.l-mt-1-5 {
  margin-top: 1.5rem; /* 24px */
}

.l-mt-2 {
  margin-top: 2rem; /* 32px */
}

.l-mt-2-25 {
  margin-top: 2.25rem; /* 36px */
}

/* Margin bottom */


.l-mb-1 {
  margin-bottom: 1rem; /* 16px */
}

.l-mb-1-25 {
  margin-bottom: 1.25rem; /* 20px */
}

.l-mb-1-5 {
  margin-bottom: 1.5rem; /* 24px */
}

.l-mb-2 {
  margin-bottom: 2rem; /* 32px */
}

.l-mb-2-25 {
  margin-bottom: 2.25rem; /* 36px */
}

/* Margin left */


.l-ml-1 {
  margin-left: 1rem; /* 16px */
}

.l-ml-1-25 {
  margin-left: 1.25rem; /* 20px */
}

.l-ml-1-5 {
  margin-left: 1.5rem; /* 24px */
}

.l-ml-2 {
  margin-left: 2rem; /* 32px */
}

.l-ml-2-25 {
  margin-left: 2.25rem; /* 36px */
}



/* Margin right */

.l-mr-1 {
  margin-right: 1rem; /* 16px */
}

.l-mr-1-25 {
  margin-right: 1.25rem; /* 20px */
}

.l-mr-1-5 {
  margin-right: 1.5rem; /* 24px */
}

.l-mr-2 {
  margin-right: 2rem; /* 32px */
}

.l-mr-2-25 {
  margin-right: 2.25rem; /* 36px */
}

/* Horizontal Margins */


.l-mx-1 {
  margin-right: 1rem; /* 16px */
  margin-left: 1rem; /* 16px */
}

.l-mx-1-25 {
  margin-right: 1.25rem; /* 20px */
  margin-left: 1.25rem; /* 20px */
}

.l-mx-1-5 {
  margin-right: 1.5rem; /* 24px */
  margin-left: 1.5rem; /* 24px */
}

.l-mx-2 {
  margin-right: 2rem;  /* 32px */
  margin-left: 2rem;  /* 32px */
}

.l-mx-2-25 {
  margin-right: 2.25rem;  /* 36px */
  margin-left: 2.25rem;  /* 36px */
}



/* Vertical Margins */

.l-my-1 {
  margin-top: 1rem;     /* 16px */
  margin-bottom: 1rem; /* 16px */
}

.l-my-1-25 {
  margin-top: 1.25rem;     /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}

.l-my-1-5 {
  margin-top: 1.5rem;     /* 24px */
  margin-bottom: 1.5rem; /* 24px */
}

.l-my-2 {
  margin-top: 2rem;     /* 32px */
  margin-bottom: 2rem; /* 32px */
}

.l-my-2-25 {
  margin-top: 2.25rem;     /* 36px */
  margin-bottom: 2.25rem; /* 36px */
}

/* Padding space layout classes*/

 /* Padding for all sides */

 .l-p-1 {
  padding-top: 1rem; /* 16px */
}

.l-p-1-25 {
  padding-top: 1.25rem; /* 20px */
}

.l-p-1-5 {
  padding-top: 1.5rem; /* 24px */
}

.l-p-2 {
  padding-top: 2rem; /* 32px */
}

.l-p-2-25 {
  padding-top: 2.25rem; /* 36px */
}

 /* Top padding */

 .l-pt-1 {
  padding-top: 1rem; /* 16px */
}

.l-pt-1-25 {
  padding-top: 1.25rem; /* 20px */
}

.l-pt-1-5 {
  padding-top: 1.5rem; /* 24px */
}

.l-pt-2 {
  padding-top: 2rem; /* 32px */
}

.l-pt-2-25 {
  padding-top: 2.25rem; /* 36px */
}


 
/* Bottom padding */

.l-pb-1 {
  padding-bottom: 1rem; /* 16px */
}

.l-pb-1-25 {
  padding-bottom: 1.25rem; /* 20px */
}

.l-pb-1-5 {
  padding-bottom: 1.5rem; /* 24px */
}

.l-pb-2 {
  padding-bottom: 2rem; /* 32px */
}

.l-pb-2-25 {
  padding-bottom: 2.25rem; /* 36px */
}


/* Left padding */

.l-pl-1 {
  padding-left: 1rem; /* 16px */
}

.l-pl-1-25 {
  padding-left: 1.25rem; /* 20px */
}

.l-pl-1-5 {
  padding-left: 1.5rem; /* 24px */
}

.l-pl-2 {
  padding-left: 2rem; /* 32px */
}

.l-pl-2-25 {
  padding-left: 2.25rem; /* 36px */
}



 /* Right padding */

 .l-pr-1 {
  padding-left: 1rem; /* 16px */
}

.l-pr-1-25 {
  padding-left: 1.25rem; /* 20px */
}

.l-pr-1-5 {
  padding-left: 1.5rem; /* 24px */
}

.l-pr-2 {
  padding-left: 2rem; /* 32px */
}

.l-pr-2-25 {
  padding-left: 2.25rem; /* 36px */
}


/* Horizontal Paddings */

.l-px-1 {
  padding-right: 1rem; /* 16px */
  padding-left: 1rem; /* 16px */
}

.l-px-1-25 {
  padding-right: 1.25rem; /* 20px */
  padding-left: 1.25rem; /* 20px */
}

.l-px-1-5 {
  padding-right: 1.5rem; /* 24px */
  padding-left: 1.5rem; /* 24px */
}

.l-px-2 {
  padding-right: 2rem; /* 32px */
  padding-left: 2rem; /* 32px */
}

.l-px-2-25 {
  padding-right: 2.25rem; /* 36px */
  padding-left: 2.25rem; /* 36px */
}


/* Vertical Paddings */

.l-py-1 {
  padding-top: 1rem;     /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.l-py-1-25 {
  padding-top: 1.25rem;     /* 20px */
  padding-bottom: 1.25rem; /* 20px */
}

.l-py-1-5 {
  padding-top: 1.5rem;     /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}

.l-py-2 {
  padding-top: 2rem;     /* 32px */
  padding-bottom: 2rem; /* 32px */
}

.l-py-2-25 {
  padding-top: 2.25rem;     /* 36px */
  padding-bottom: 2.25rem; /* 36px */
}


/* Base layout classes */

/* Block */

.l-block{
  display: block;
}

/* Flex */

.l-flex {
  display: flex;
}

.l-flex-row-reverse { 
  flex-direction: row-reverse;
 }

.l-flex-column-reverse {
  flex-direction: column-reverse; 
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-row {
  flex-direction: row;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex-nowrap {
  flex-wrap: nowrap;
}

.l-flex-justify-center {
  justify-content: center;
}

.l-flex-justify-between {
  justify-content: space-between;
}

.l-flex-justify-around { 
  justify-content: space-around;
 }

.l-flex-justify-evenly { 
  justify-content: space-evenly;
 }

.l-flex-align-center {
  align-items: center;
}


/* Grid classes*/

.l-grid {
  display: grid;
}

.l-grid-gap-1 {
  gap: 1rem;
}


.l-grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.l-gap-0 { 
  gap: 0rem; 
}

.l-gap-1 {
   gap: 1rem;
}

.l-gap-2 { 
  gap: 2rem; 
}



/* Mobile container */
.container-mobile{
  max-width: 100%;
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box; 
}


/* Full-width container */

.full-width-container {
  width: 100%; 
  padding: 20px; 
  box-sizing: border-box; 
}

/* Desktop container */
@media (min-width: 768px) {

.container-desktop {
  max-width: 1200px; 
  margin: 0 auto; 
  box-sizing: border-box; 
}

}








