/* Color variables for the theme */
:root {
  --clr-primary-bg:#f9f8fc;
  --clr-secondary-bg: #fec7d7;
  --clr-tertiary-bg:#d9d4e7;
  --clr-body-text: #0e172c; 
  --clr-primary-accent:#0e172c; 
  --clr-secondary-accent:#a786df;
  --clr-accent-text:#fffffe; 
  --clr-hover:#f6db43;
 }

 /* Typefaces for heading and body text */
 :root{
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Roboto', sans-serif;
 }

 /* Typeface font sizes */
 :root{
 --h1-font-size: 24px; 
 --h2-font-size: 20px;
 --h3-font-size: 18px;
 --body-font-size: 16px; 
 }

 /* Typeface font weight */
 :root{
  --bold-font-weight: 700;
  --normal-font-weight: 400;
  }

  /* Typeface line height */
 :root{
  --heading-line-height: 1.2;
  --body-line-height: 1.5;
  }
 
    /* Typeface letter spacing */
 :root{
  --letter-spacing: 1px;
  }
   
  /* Typeface colours */
 :root{
  --heading-text-color: var(--clr-primary-bg);
  --body-text-color: var(--clr-primary-text); 
  }


/* Border-box model for fixed size */

* {
    box-sizing: border-box; 
}
  
body,
h1,
h2,
h3, 
h4, 
h5, 
h6,
p,
figure,
picture {
    margin: 0; /* Reset margins for body, all headings, p, figure, picture */
  }
 

  /* Remove padding from lists */  
ul, ol {
  list-style: none;
    padding: 0; 
  }

/* Utility classes for colors */

/* Primary colour swatches */

.bg-primary, .bg-primary-info{
background-color: var(--clr-primary-bg);
color: var(--clr-body-text);

  }
 .bg-primary-example button{
background-color: var(--clr-primary-bg);
color: var(--clr-body-text);
  }

/* Secondary colour swatches */

.bg-secondary-example button{
  background-color: var(--clr-secondary-bg);
  color: var(--clr-body-text);
    }

.bg-secondary, .bg-secondary-info{
  background-color:var(--clr-secondary-bg);
  color: var(--clr-body-text);
}

/* Tertiary color swatches */

.bg-tertiary-example button{
  background-color: var(--clr-tertiary-bg);
  color: var(--clr-body-text);
    }

.bg-tertiary, .bg-tertiary-info{
  background-color:var(--clr-tertiary-bg);
  color: var(--clr-body-text);
}

/* Text color swatches */


.bg-primary-example1{
color: var(--clr-body-text);
background-color: var(--clr-primary-bg);
}
.bg-secondary-example1{
  color: var(--clr-body-text);
  background-color: var(--clr-secondary-bg);
} 
.bg-tertiary-example1 button{
  color: var(--clr-body-text);
  background-color: var(--clr-tertiary-bg);
}

/* Primary Accent Colour swatches */

.bg-primary-accent, .bg-primary-accentinfo{
  background-color:var(--clr-primary-accent);
  color: var(--clr-accent-text);
}

.bg-primary-accentexample button{
  background-color:var(--clr-primary-accent);
  color: var(--clr-accent-text);
}

/* Secondary Accent Colour swatches */

.bg-secondary-accent, .bg-secondary-accentinfo{
  background-color:var(--clr-secondary-accent);
  color: var(--clr-accent-text);
}

.bg-secondary-accentexample button{
  background-color:var(--clr-secondary-accent);
  color: var(--clr-accent-text);
}

.bg-example-accenttext button{
background-color: var(--clr-primary-accent);
color: var(--clr-accent-text);
}

/* Utility classes for typography */


/* Font families */
.serif-font{
  font-family: var(--primary-font);

  }
  
  .sans-font{
  font-family: var(--secondary-font);
 
  }
  
  
  /* Font size*/
  .u-fs-h1{
  font-size: var(--h1-font-size);
 
  }
  
  .u-fs-h2{
    font-size: var(--h2-font-size);

    }
  
  .u-fs-h3{
    font-size: var(--h3-font-size);
    
    }
  
  .u-fs-body{
      font-size: var(--body-font-size);
  
      }
  
      
  /* Font weight */
  .u-fw-bold{
    font-weight: var(--bold-font-weight);

  }
  
  .u-fw-normal{
    font-weight: var(--normal-font-weight);
    
  }
  
  
  /* Font line height */
  
  .u-lh-heading{
    line-height: var(--heading-line-height);
  
  }

  .u-lh-body{
    line-height: var(--body-line-height);
   
  }
  
  
  /* Font letter spacing*/
  .u-letter-spacing{
    letter-spacing: var(--letter-spacing);
   
  }
  